@model Service

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <h1>Update Service</h1>
    </div>

    <form method="post" class="form-row">
        <div class="form-group col">
            <label for="">Title</label>
            <input asp-for="@Model.Title" type="text" class="form-control">
        </div>
        <div class="form-group col">
            <label for="">Description</label>
            <input asp-for="@Model.Description" type="text" class="form-control">
        </div>
        <div class="form-group col">
            <label for="">Logo</label>
            <input asp-for="@Model.Logo" type="text" class="form-control">
        </div>
        <div class="form-group col-12 text-left">

            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

</div>